body, html{
    margin:0;
    padding: 0;
}

.containerWidth {
    width: 80%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
}

/* ทำให้ แบ่ง column และมีช่องว่างให้ */
.flexSpaceAround {
    justify-content: space-around;

}

.col {
    width: 32%;
    border: 1px solid #666;
    border-radius: 8px ;
    background: white;
    padding: 20px;
    margin: 0 10px;
}