.flex-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap;   */
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
}

.flex-item-1,
.flex-item-2,
.flex-item-3,
.flex-item-4,
.flex-item-5 {
  width: 150px;
  height: 150px;
  background: #ccc;
  margin: 10px;
}

