@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

.snip {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 8px;
  max-width: 300px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip:before,
.snip:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 50px solid rgba(0, 0, 0, 0.5);
  border-bottom: 50px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip h3 span {
  display: block;
  font-weight: 700;
}

.snip a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip:hover > img,
.snip.hover > img {
  opacity: 0.7;
}

.snip:hover:before,
.snip.hover:before,
.snip:hover:after,
.snip.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip:hover figcaption,
.snip.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
