@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');

body {
  background-color: #212121;
}

.snip {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: inline-block;
  margin: 40px 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000;
  text-align: left;
  font-size: 16px;
  background: #fff;
  border-radius: 5px;
}

.snip *,
.snip::before,
.snip::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.snip img {
  max-width: 35%;
  margin-top: -15px;
  margin-left: 60%;
  margin-bottom: 15px;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 5px;
}
.snip figcaption {
  position: absolute;
  top: 0;
  right: 40%;
  left: 0;
  bottom: 0;
  padding: 15px;
}

.snip h3 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
}

.snip .icons {
  font-size: 1.6rem;
}

.snip .icons a {
  color: #ccc;
}

.snip .icons a:hover {
  color: #2980b9;
}
