@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,700');

body {
  background-color: #212121;
}

.snip {
  font-family: 'Sarabun', sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  text-align: left;
  line-height: 1.4em;
  background: #141414;
}

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

.snip img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.8;
}

.snip figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}

.snip figcaption:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}

.snip figcaption a {
  padding: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 46%;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.snip figcaption a:hover {
  opacity: 1;
}

.snip .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  /* border: 1px solid; */
}

.snip .follow {
  margin-right: 6%;
  border-color: #2980b9;
  color: #2980b9;
}

.snip h2 {
  margin: 0 0 5px;
  font-weight: 400;
}

.snip h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}

.snip p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

.snip:hover::before {
  buttom: 0;
  box-shadow: 0 0 0px white;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
