@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');


body {
    background-color: #212121;
}

.snip {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-align: left;
  font-size: 16px;
  max-width: 100%;
  margin: 50px 10px;
}

.snip .plan {
  margin: 0;
  width: 24%;
  position: relative;
  float: left;
  border-top: 1px solod #333;
  border-bottom: 1px solie #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
}

.snip .plan:hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.snip .plan:first-of-type {
  border-radius: 8px 0 0 8px;
  border-left: 1px solid #333;
}
.snip .plan:last-of-type {
  border-radius: 0 8px 8px 0;
  border-right: 1px solid #333;
}

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.snip header {
  line-height: 70px;
  color: #fff;
}

.snip .plan-title {
  position: relative;
  background-color: #156dab;
  margin: 20px 0;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.snip .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #156dab transparent transparent;
}

.snip .plan-cost {
  position: absolute;
  top: 20px;
  right: 0px;
  padding: 0 20px;
  text-align: right;
}

.snip .plan-price {
  font-weight: 700;
  font-size: 2em;
}

.snip .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}

.snip .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
  font-size: 0.9em;
}

.snip .plan-features li {
  padding: 8px 20px;
}

.snip .plan-features i {
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.snip .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.snip .plan-select a {
  background-color: #156dab;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 700;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}

.snip .plan-select a:hover {
  background-color: #1b8ad8;
}

.snip .featured {
  margin-top: -10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 8px;
  border: 1px solid #333;
}

.snip .featured header {
  line-height: 90px;
}

.snip .featured .plan-select {
  padding: 30px 20px;
}

@media only screen and (max-width: 767px) {
  .snip .plan {
    width: 50%;
  }

  .snip .plan-title,
  .snip .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .snip .plan-select,
  .snip .featured .plan-select {
    padding: 20px;
  }

  .snip .featured {
    margin: 0;
  }

  .snip .featured header {
    line-height: 70px;
  }
}

@media only screen and (max-width: 440px) {
    .snip .plan {
        width: 100%
    }
}
